@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative; /* Set the position to relative to contain the absolute positioning of ::before */
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

